*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif
}
body{
    background-color:rgb(245, 248, 255);
}
/* Navigation bar styles */
.navbar{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}
.navbar-title h1{
    font-family: "Noto Serif", serif;
    font-size: 25px;
    color: #E95A08;
    font-weight: 700;
}
.navbar-links ul{
    display: flex;
    gap: 48px;
}
.Home{
    list-style: none;
}
.navbar-links ul li{
    list-style: none;
}
.navbar-links ul li a{
    text-decoration: none;
    color: #252432;
    font-weight: 700;
    font-size: 16px;
}
.navbar-links ul li a span{
    font-weight: 400;
    font-size: 16px;
    color: #8987A1;
}
#cart-add{
    font-weight: 500;
    color: #000000;
    margin-left: 8px;
}
/* Banner section styles */
.Banner{
    max-width: 1140px;
    height: 461px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.banner-title h2{
    font-weight: 700;
    font-size: 65px;
    font-family: "Noto Serif", serif;
    color: #000000;
}
#FRESH{
    color: #E95A08;
    font-family: "Noto Serif", serif;
}
#FLOWERS{
    color: #E95A08;
    font-family: "Noto Serif", serif;
}
.banner-title p{
    font-weight: 400;
    font-size: 22px;
    margin-top: 13px;
    color: rgba(0, 0, 0, 0.5);
}
.Banner img{
    width: 100%;
}
/* title-section */
.title-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}
#Our{
    color: #E95A08;
    font-family: "Noto Serif", serif;
}
.title{
    max-width: 888px;
    text-align: center;
    margin: 0 auto;
    font-family: "Noto Serif", serif;
}
.title h2{
    font-size: 50px;
    font-weight: 700;
    font-family: "Noto Serif", serif;
}
.title p{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
}
/* card-section */
.card-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 19px;
}
.card{
    margin: 0 auto;
}
.card img{
    width: 100%;
}
.card-details{
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-details h3{
    font-weight: 500;
    font-size: 22px;
    color: #111111;
    margin-top: 30px;
}
.card-details span{
    font-weight: 700;
    font-size: 22px;
    color: #111111;
    margin-top: 15px;
    margin-bottom: 25px;
}
.card-details button{
    height: 50px;
    width: 270px;
    border: none;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
/* Plants Lover Section */
.Plants-Lover-Section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Plants-Lover-img{
    position: relative;    
}
.flower-store-img{
    width: 100%;
}
.trusted-badge-img{
    max-width: 286px;
    position: absolute;
    top: -125px;
    right: -95px;
}
.Plants-Lover-title{
    max-width: 540px;
}
.Plants-Lover-title h2{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
    color: #000000;
    font-family: "Noto Serif", serif;
}
.Plants-Lover-title h2 span{
    display: block;
    font-family: "Noto Serif", serif;
}
.Plants-Lover-title ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    font-weight: 400;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
/* title section 2 */
.title-section-2{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 133px;
    margin-top: 120px;
}

/* media screen phone */
@media screen and (max-width:576px) {
    .navbar{
    margin: 22px 16px 0;
    }
   .Home{
    display: none;
   }
   .Banner{
    flex-direction: column-reverse;
    margin-top: 28px;
   }
   #FLOWERS{
    display: block;
   }
   .title-section{
    margin-top: 65px;
   }
   .banner-title h2, 
   .title h2{
    margin: 28px 16px 0;
    font-size: 24px;
   }
   .banner-title p, 
   .title p{
    margin: 13px 16px 0;
    font-size: 14px;
    }
    .card-section{
        grid-template-columns: repeat(2,1fr);
    }
    .card-section{
        margin-top: 28px;
        margin: 13px 16px 0;
    }
    .card, 
    .card-details button{
        width: 171px;
    }
    .Plants-Lover-Section{
        flex-direction: column;
        margin: 40px 16px 0;
    }
    .trusted-badge-img{
        display: none;
    }
    .Plants-Lover-title h2{
        font-size: 24px;
        margin-top: 18px;
    }
    .Plants-Lover-title h2 span{
        display: inline;
    }
    .Plants-Lover-title ul{
        font-size: 14px;
    }
}